/* rocknroll-one-regular - latin */
@font-face {
  font-family: "RocknRoll One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rocknroll-one-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/rocknroll-one-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/rocknroll-one-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/rocknroll-one-v10-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/rocknroll-one-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/rocknroll-one-v10-latin-regular.svg#RocknRollOne")
      format("svg");
  /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/work-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/work-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/work-sans-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/work-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/work-sans-v17-latin-regular.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-700 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/work-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/work-sans-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/work-sans-v17-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/work-sans-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/work-sans-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/work-sans-v17-latin-700.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-500italic - latin */
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/work-sans-v17-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/work-sans-v17-latin-500italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/work-sans-v17-latin-500italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/work-sans-v17-latin-500italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/work-sans-v17-latin-500italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/work-sans-v17-latin-500italic.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* UNIVERSAL STYLING*/
html {
  font-size: 16px;
}

body {
  width: 100%;
}

.secTitle {
  text-align: center;
  padding-top: 3rem;
  font-family: "RocknRoll One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

/* HEADER SECTION */
header {
  background-image: url(../media/images/head-background.jfif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.head-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.logo-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 1.2rem;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 1.3rem;
  opacity: 0.9;
}

.title-container {
  border: 2px solid #fff;
  width: 630px;
  margin-right: 40rem;
  padding: 0.625rem;
  box-sizing: border-box;
}

.title {
  font-family: "RocknRoll One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
}

.line-2 {
  padding-left: 4.65rem;
}

.line-3 {
  padding-left: 23.5rem;
}

@media only screen and (max-width: 350px) {
  .title {
    font-family: "RocknRoll One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
  }
}

@media only screen and (max-width: 900px) {
  .line-2 {
    padding-left: 0rem;
  }
  
  .line-3 {
    padding-left: 0rem;
  }

  .title-container {
    border: 2px solid #fff;
    max-width: 630px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.625rem;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1489px) {
  .logo-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 45%;
  }

  .title-container {
    border: 2px solid #fff;
    max-width: 630px;
    margin-left: 30%;
    margin-bottom: 1rem;
    padding: 0.625rem;
    box-sizing: border-box;
  }
}

/* NAV SECTION */
.nav-bar {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 2px solid #8080ff;
}

.nav-bar li {
  display: inline;
  padding-left: 4.3rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
}

.nav-bar a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.6s ease-in-out;
}

a:hover {
  background-color: #e6e6ff;
}

@media only screen and (max-width: 350px) {
  .nav-bar li {
    display: block;
    padding-left: 2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-bar li {
    display: block;
    padding-left: 4.3rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1489px) {
  .nav-bar a {
    color: #000;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0.1rem;
    border-radius: 0.5rem;
    transition: background-color 0.6s ease-in-out;
  }
}

/* MAIN SECTION (mission-statement) */
#mission-statement {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.statement-inner {
  width: 30%;
  height: auto;
  padding: 0.5rem;
  margin-top: 1.25rem;
  background-color: #e6e6ff;
  border-left: 2px solid #8080ff;
  border-right: 2px solid #8080ff;
  border-radius: 5px;
}

.statement-inner p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
}
.word {
  font-weight: bold; /* the strong element alone was not making the word bold (?) */
}

.words {
  font-style: italic;
}

/* MAIN SECTION (lang-gallery) */
#lang-gallery {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 1.25rem;
  box-sizing: border-box;
}

.imgContainer {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
}

.imgContainer .imgBx {
  width: 200px;
  height: 100px;
  overflow: hidden;
  margin: 2rem;
  border: 1px solid #8080ff;
  border-radius: 5px;
}

.imgBx img {
  max-width: 100%;
  height: auto;
  display: block;
}

.one {
  border-bottom: 2px solid #8080ff;
}

/* MAIN SECTION (team) */
#employees {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  box-sizing: border-box;
}

.teamPlayers {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.teamPlayers .player {
  display: flex;
  flex-basis: 90%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}

.player .picBx {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #8080ff;
  border-radius: 5px;
}

.picBx img {
  max-width: 100%;
  height: auto;
  display: block;
}

.player .txtBx {
  display: flex;
  flex-basis: 400px;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #e6e6ff;
  border-left: 2px solid #8080ff;
  border-right: 2px solid #8080ff;
  border-radius: 5px;
}

.txtBx p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
}

/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #8080ff;
  box-sizing: border-box;
}

.ftNote {
  display: flex;
  font-family: "RocknRoll One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 1rem;
}

.ftNote a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #8080ff;
}

.ftNote .arrow {
  position: relative;
  top: -1rem;
  left: 3.5rem;
}

@media only screen and (max-width: 680px) {
.ftNote .arrow {
    position: relative;
    top: .25rem;
    left: 0rem;
  }
}